body {
  margin: 0;
  padding: 0;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  font-family: Ubuntu, Verdana, Geneva, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
  display: inline-block;
}

input {
  width: 75%;
  font-size: 1.5rem;
  padding: 0.25em;
  margin-top: 0.5em;
  border: 3px solid black;
}

button {
  background: orange;
  font-size: 1.3rem;
  margin: 1em;
  padding: 0.2em 0.5em;
}

textarea {
	background: black;
	color: white;
	width: 100%;
	font-size: 1.5rem;
	padding: 0.25em;
	margin-top: 0.5em;
	border: 3px solid black;
	height: 300px;
	width: 500px;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 1.2rem;
}
